{% extends 'poll/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="mb-5">
        <a class="btn btn-outline-primary" href="{% url 'question-list'%}">Go Back</a>
    </div>

    <form method="post" class="mb-5">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label }}
            {{ form.username|add_class:'form-control' }}
        </div>
        <div class="mb-3">
            {{ form.password1.label }}
            {{ form.password1|add_class:'form-control' }}
        </div>
        <div class="mb-3">
            {{ form.password2.label }}
            {{ form.password2|add_class:'form-control' }}
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

</div>
{% endblock content%}